<footer class="bg-gray-800 text-white p-4 mt-8">
  <div class="container mx-auto text-center text-sm">
    <p>&copy; {{ currentYear }} MonTourRapide. All rights reserved.</p>
    <nav class="mt-2">
      <ul class="flex justify-center space-x-4">
        <li><a routerLink="/conditions" class="hover:text-gray-300">Conditions Générales</a></li>
        <li><a routerLink="/confidentiality-policy" class="hover:text-gray-300">Politique de Confidentialité</a></li>
      </ul>
    </nav>
  </div>
</footer>
